# Load env file with evaluated 1password items
op_source() {
  local filePath="${1:-.env}"

  if [ ! -f "$filePath" ]; then
    >&2 echo "Missing file ${filePath}"
    return 1
  fi

  while IFS= read -r LINE; do
    # Remove leading and trailing whitespaces, and carriage return
    CLEANED_LINE=$(echo "$LINE" | awk '{$1=$1};1' | tr -d '\r')

    if [[ $CLEANED_LINE != '#'* ]] && [[ $CLEANED_LINE == *'='* ]]; then
      export "$CLEANED_LINE"
    fi
  done <<< "$(op inject -i $filePath)"
}

op_source ".env"
