.table-error {
  display: none;
}

::ng-deep app-products-input-table.ng-dirty.ng-invalid {
  .table-error {
    display: block;
  }

  .table__header {
    border-color: var(--p-form-field-invalid-border-color);

    &-title {
      color: var(--p-form-field-invalid-placeholder-color);
    }
  }

  .ag-root-wrapper {
    border-bottom-color: var(--p-inputtext-invalid-border-color);
    border-left-color: var(--p-inputtext-invalid-border-color);
    border-right-color: var(--p-inputtext-invalid-border-color);
  }
}
