@use "src/assets/styles/component-common" as common;

.table-error {
  display: none;
}

::ng-deep app-products-input-table.ng-dirty.ng-invalid {
  .table-error {
    display: block;
  }

  .table__header {
    border-color: common.$error-color;
  }

  .ag-root-wrapper {
    border-bottom-color: common.$error-color;
    border-left-color: common.$error-color;
    border-right-color: common.$error-color;
  }
}
