<mat-form-field class="purchase-shop" appearance="fill">

  <mat-label>Purchase shop</mat-label>

  <mat-select [formControl]="shopFormControl" [compareWith]="compareShops" (selectionChange)="$event.value === ADD_SHOP_TOKEN && openAddShopDialog()">
    <mat-option *ngFor="let shop of shopsSubject | async" [value]="shop">{{ shop.name }}</mat-option>
    <mat-option [value]="ADD_SHOP_TOKEN">Add Shop</mat-option>
  </mat-select>

  <mat-error *ngIf="shopFormControl.hasError('required')">This field is required</mat-error>

</mat-form-field>
