<p-autoComplete (completeMethod)="filterSubject.next($event.query)"
                (keydown)="value && params.onKeyDown($event)"
                (onSelect)="params.onSelect?.($event, this.setValue.bind(this))"
                [(ngModel)]="value"
                [autofocus]="true"
                [completeOnFocus]="true"
                [autoHighlight]="false"
                [autoOptionFocus]="true"
                [selectOnFocus]="false"
                [delay]="params.delay ?? 0"
                [forceSelection]="params.forceSelection ?? false"
                [minLength]="params.minLength ?? 0"
                [optionLabel]="params.label ?? undefined"
                [overlayOptions]="agGridOverlayOptions"
                [suggestions]="(filteredSuggestions$ | async) ?? []"
                pAutoFocus>
</p-autoComplete>
