<p-autoComplete (completeMethod)="filter.set($event.query)"
                (keydown)="value() && params?.onKeyDown($event)"
                (onSelect)="params?.onSelect?.($event, filter(), this.setValue.bind(this))"
                [(ngModel)]="value"
                [completeOnFocus]="false"
                [autoHighlight]="false"
                [autoOptionFocus]="true"
                [selectOnFocus]="false"
                [delay]="params?.delay ?? 0"
                [forceSelection]="params?.forceSelection ?? false"
                [minLength]="params?.minLength ?? 0"
                [optionLabel]="params?.label ?? undefined"
                [overlayOptions]="agGridOverlayOptions"
                [suggestions]="filteredSuggestions()"
                [autofocus]="true"/>
