:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep {
  p-button, button {
    width: 100%;
    height: 100%;
  }

  .p-button-text:hover {
    background: transparent;
    border-color: transparent;
    color: var(--p-button-text-primary-color);
  }
}
