<p-date-picker appendTo="body"
               [inputId]="inputId()"
               [dateFormat]="displayFormat()"
               [showButtonBar]="true"
               [firstDayOfWeek]="1"
               [disabled]="valueAccessor.disabled()"
               [ngModel]="valueAccessor.value()"
               (ngModelChange)="onDisplayValueChange($event)"
               (onFocus)="onFocus()"
               (onBlur)="onBlur()"
               [class.ng-touched]="ngControl.touched"
               [class.ng-dirty]="ngControl.dirty"
               [class.ng-valid]="ngControl.valid"
               [class.ng-invalid]="ngControl.invalid"/>
