@mixin columnWidth($width, $columnIndexes...) {
  @each $columnIndex in $columnIndexes {
    &:nth-child( #{$columnIndex} ) {
      flex: 0 0 $width;
    }
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

mat-header-cell, mat-cell {
  @include columnWidth(5%, 1);
  @include columnWidth(7%, 2);
}

mat-row {
  cursor: pointer;
}


