@import "src/styles/component-common";

.table-error {
  display: none;
}

::ng-deep app-products-input-table.ng-dirty.ng-invalid {
  .table-error {
    display: block;
  }

  .table__header {
    border-color: $error-color;
  }

  .ag-root-wrapper {
    border-bottom-color: $error-color;
    border-left-color: $error-color;
    border-right-color: $error-color;
  }
}
