@let item = this.item();

@if (item.visible !== false) {
  @if (isRoot()) {
    <div class="layout-menuitem-root-text">
      {{ item.label }}
    </div>
  }

  @if (!item.routerLink || item.items?.length) {
    <a
      [attr.href]="item.url"
      [ngClass]="item.styleClass"
      [attr.target]="item.target"
      tabindex="0"
      [pTooltip]="item.label"
      [tooltipDisabled]="isActive() || !isSlim()"
      (click)="itemClick($event)"
      (mouseenter)="onMouseEnter()"
    >
      <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
      <span class="layout-menuitem-text">{{ item.label }}</span>
      @if (item.items?.length) {
        <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
      }
    </a>
  } @else {
    <a tabindex="0"
       [ngClass]="item.styleClass"
       [routerLink]="item.routerLink"
       routerLinkActive="active-route"
       [routerLinkActiveOptions]="item.routerLinkActiveOptions || defaultRouterLinkActiveOptions"
       [fragment]="item.fragment"
       [queryParamsHandling]="item.queryParamsHandling"
       [preserveFragment]="item.preserveFragment"
       [skipLocationChange]="item.skipLocationChange"
       [replaceUrl]="item.replaceUrl"
       [state]="item.state"
       [queryParams]="item.queryParams"
       [attr.target]="item.target"
       [pTooltip]="item.label"
       [tooltipDisabled]="isActive() || !isSlim()"
       (click)="itemClick($event)"
       (mouseenter)="onMouseEnter()"
    >
      <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
      <span class="layout-menuitem-text">{{ item.label }}</span>
    </a>
  }

  @if (item.items?.length) {
    <ul #submenu class="submenu" [@children]="submenuAnimation" (@children.done)="onSubmenuAnimated($event)">
      @for (childItem of item.items; track childItem.label; let i = $index) {
        <li app-submenu [item]="childItem" [index]="i" [parentKey]="key()"></li>
      }
    </ul>
  }
}
