<ul class="submenu">
  @for (menuItem of menuItems(); track menuItem.id) {
    <li #menuItemEl class="submenu__item">
      <a pRipple
         [routerLink]="menuItem.routerLink" routerLinkActive='submenu__item-anchor--active'
         class="submenu__item-anchor"
         (click)="activate(menuItem, menuItemEl)">
        @if (menuItem.icon) {
          <i class="pi submenu__item-icon" [ngClass]="menuItem.icon"></i>
        }
        @if (menuItem.label) {
          <span class="submenu__item-label">{{ menuItem.label }}</span>
        }
        @if (menuItem.items) {
          <i class="pi pi-angle-up submenu__children-toggle"></i>
          <div class="submenu__children-wrapper">
            <app-submenu [menuItems]="menuItem.items!" class="submenu__children"/>
          </div>
        }
      </a>
    </li>
  }
</ul>
