.table {
  ag-grid-angular {
    width: 100%;
    height: 603px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    border: 1px solid var(--surface-border);
    border-radius: 3px 3px 0 0;
    background: var(--surface-card);
    border-bottom: none;

    &-title {
      font-size: 1.25rem;
      margin: 0;
    }

    &-start, &-end {
      display: flex;
      gap: 0.6rem;
    }
  }
}
