$primary-color: #A5B4FC;
$surface-overlay: #161A1F;
$text-color: #FFFFFFDE;
$surface-border: #2A2E34;
$surface-hover: #FFFFFF08;
$menu-bg: $surface-overlay;
$invalid-color: #e24c4c;
$error-color: #FCA5A5;
