@import "src/styles/colors";
@import "src/styles/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --menu-bg: var(--surface-overlay);
  --sidebar-width: 18rem;
  --sidebar-collapsed-width: 5.25rem;
  --sidebar-shadow: none;
  --sidebar-border: 1px solid var(--surface-border);

  --logo-color: var(--primary-color);
  --root-menuitem-text-color: var(--primary-color);
  --menuitem-text-color: var(--text-color);
  --menuitem-icon-color: var(--primary-color);
  --menuitem-hover-bg-color: var(--surface-hover);
  --popup-submenu-item-text-color: var(--text-color);
  --popup-submenu-item-icon-color: var(--primary-color);
  --popup-submenu-item-hover-bg-color: var(--surface-hover);

  --card-shadow: none;
  --transition-duration: 0.2s;
  --focus-ring: 0 0 0 1px white;
  --highlight-text-color: white;

  --font-family: Poppins, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background: var(--surface-ground);
}

a {
  text-decoration: none;
  color: inherit;

  &:focus-visible {
    outline: 1px solid white;
    outline-offset: 4px;
  }
}

.ag-theme-alpine-dark {
  --ag-alpine-active-color: var(--primary-color);
  --ag-background-color: var(--surface-section);
  --ag-header-background-color: var(--surface-card);
  --ag-odd-row-background-color: var(--surface-card);
  --ag-row-hover-color: var(--surface-hover);
  --ag-selected-row-background-color: #A5B4FC15;
  --ag-data-color: var(--text-color);

  --ag-border-color: var(--surface-border);
  --ag-row-border-color: var(--surface-border);

  --ag-font-size: 0.95rem;
  --ag-font-family: var(--font-family);

  --ag-icon-font-code-menu: '\f115';

  .ag-paging-panel {
    background-color: var(--ag-header-background-color);
  }

  .ag-menu-header {
    background-color: var(--ag-header-background-color);
  }

  .ag-menu {
    background-color: var(--ag-background-color);
  }

  .ag-header-cell-filtered {
    .ag-icon-menu {
      color: var(--ag-alpine-active-color);
    }

    .ag-filter-icon {
      display: none;
    }
  }

  .ag-cell-invalid {
    border-color: #e24c4c44;
    background-color: #e24c4c22;
  }
}

.ag-root-wrapper {
  border-radius: 0 0 3px 3px;
}
