<form [formGroup]="form" (ngSubmit)="formService.submit()" class="h-full flex flex-col gap-6">
  <div class="flex gap-6">
    <div>
      <p-floatlabel variant="on">
        <p-autoComplete inputId="purchase-form-shop-input"
                        appendTo="body"
                        [formControl]="form.controls.shop"
                        optionLabel="name"
                        spellcheck="false"
                        [completeOnFocus]="true"
                        [forceSelection]="true"
                        [autoHighlight]="false"
                        [autoOptionFocus]="false"
                        [selectOnFocus]="false"
                        [minLength]="0"
                        [suggestions]="filteredShops$()"
                        (completeMethod)="shopFilter$.set($event.query)"
                        (onSelect)="onShopSelection($event)"/>
        <label for="purchase-form-shop-input">Purchase Shop</label>
      </p-floatlabel>
      @if (form.controls.shop.dirty && !form.controls.shop.valid) {
        <small class="text-error">Invalid shop value</small>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <app-calendar inputId="purchase-form-date-input"
                      [formControl]="form.controls.date"
                      displayFormat="d MM yy"
                      modelFormat="yyyy-MM-dd'"/>
        <label for="purchase-form-date-input">Purchase Date</label>
      </p-floatlabel>
      @if (form.controls.date.dirty && !form.controls.date.valid) {
        <small class="text-error">Invalid date value</small>
      }
    </div>
  </div>
  <app-products-input-table id="purchase-form-products-input" class="grow" [formControl]="form.controls.products"/>
</form>

