<form [formGroup]="purchaseControlGroup" (ngSubmit)="onFormSubmit()" class="purchase-form">
  <div class="row">
    <div>
      <span class="p-float-label">
        <p-autoComplete id="shop"
                        appendTo="body"
                        formControlName="shop"
                        optionLabel="name"
                        spellcheck="false"
                        [completeOnFocus]="true"
                        [forceSelection]="true"
                        [autoHighlight]="false"
                        [autoOptionFocus]="true"
                        [selectOnFocus]="false"
                        [minLength]="0"
                        [suggestions]="filteredShops$()"
                        (completeMethod)="shopFilter$.set($event.query)"
                        (onSelect)="onShopSelection($event)"/>
        <label for="shop">Purchase Shop</label>
      </span>
      @if (shopControl.dirty && !shopControl.valid) {
        <small class="p-error">Invalid shop value</small>
      }
    </div>
    <div>
        <span class="p-float-label">
          <app-calendar id="date"
                        formControlName="date"
                        displayFormat="d MM yy"
                        modelFormat="yyyy-MM-dd'"/>
          <label for="date">Purchase Date</label>
      </span>
      @if (dateControl.dirty && !dateControl.valid) {
        <small class="p-error">Invalid date value</small>
      }
    </div>
  </div>
  <app-products-input-table id="products"
                            formControlName="products"/>
  <div class="row controls">
    <p-button (onClick)="onCancelBtnClick()" label="Cancel" styleClass="p-button-danger"/>
    <p-button type="submit" label="Save & Exit"/>
  </div>
</form>

