<main>

  <form class="mat-elevation-z3" #form="ngForm" (ngSubmit)="onPurchasesSave()" [formGroup]="purchasesForm">

    <div class="wrapper">

      <div class="group">

        <app-purchase-shop-input [shopFormControl]="$any(purchasesForm.controls['shop'])"></app-purchase-shop-input>
        <app-purchase-date-input [dateFormControl]="$any(purchasesForm.controls['date'])"></app-purchase-date-input>

        <mat-error *ngIf="purchasesForm.controls['products'].hasError('empty') && form.submitted">At least one purchase
          is required
        </mat-error>
        <mat-error *ngIf="purchasesForm.controls['products'].hasError('unfilled') && form.submitted">Please fill all required columns</mat-error>

      </div>

      <div class="controls">
        <button type="button" class="btn btn-warning" tabindex="0" (click)="clearForm()">Clear Form</button>
        <button class="btn btn-primary" tabindex="1">Save Expenses</button>
      </div>

    </div>

    <app-purchases-input-table formControlName="products"></app-purchases-input-table>

  </form>

</main>
