:host {
  display: contents;
}

main {
  height: 100%;
  padding: 4rem;
}

form {
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1.5;

  margin-bottom: 1rem;
}

app-purchases-input-table {
  flex-grow: 8.5;
}

.controls, .group {
  display: flex;
  gap: 1rem;
}
